$colour_white: white;
$colour_black: black;
$half_opaque_gray: rgba(127, 127, 127, 0.8);

@import url('https://fonts.googleapis.com/css?family=Pangolin|Sansita:400,400i,700,700i');
// font-family: 'Sansita', sans-serif;
// font-family: 'Pangolin', cursive;


body {
	font-family: 'Sansita', sans-serif;
}

